
@{
    ViewBag.Title = "manualCrud";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Gestionar Manuales </h2>

<button id="botonCrearManual">  Nuevo Manual  </button>

<div style="overflow-x:auto;">

    <table id="tablaManuales">
        <thead>
            <tr>
                <th>Nombre Manual</th>
                <th>Estatus</th>
                <th>Tipo</th>
                <th>detalles</th>
                <th>Crear Hijo</th>           
                <th>Modificar</th>
                <th>Descargar</th>
                <th>Hijos</th>
            
            </tr>
        
        </thead>
        <tbody>


        </tbody>
    </table>







</div>
