
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="padding-all">
    <div class="header">
        <h1>GESTIONAR NOTICIAS</h1>
    </div>

    
        <div id="forminicio" style="text-align:center; margin-top:10%">
            <form action="Verificar" method="post">
                <input type="text" name="cNombreUsuario" placeholder="usuario" required="" />
                <input type="password" name="cClaveUsuario" class="padding" placeholder="contraseña" required="" />
                <input type="submit" value="ingresar">
            </form>
        </div>
        <div class="clear"> </div>
   


</div>
@Html.ActionLink("Volver a Noticias","InicioNoticias", "Noticia")
<footer style="bottom: 0px; position:absolute; width:100%">
<div id="subfooter" style="text-align:center">
    <div class="container">
        <div class="row" >
            <div class="col-lg-6"style="width:100%" > 
                <span >
                    &copy; E. Partners Bussiness SAC 2020 Todos los derechos reservados.
                </span>
            </div>

        </div>
    </div>
</div>
</footer>